/** ADD YOUR AWESOME CODES HERE **/

.btn-yellow {
    background: #ff880e;
    width: 180px;
    text-align: center;
    height: 35px;
    border: #db6f02;
    line-height: 30px;
    border-radius: 75px;
    color: #fff;
    font-weight: 300;
}

.btn-yellow:hover,
a.btn-yellow:focus {
    background: #222;
    color: #fff !important;
}

.whatsapp {
    position: fixed;
    right: 10px;
    bottom: 60px;
    padding: 15px 20px;
    border-radius: 50px;
}

.whatsapp img {
    color: #fff;
    font-size: 100px;
}
.logo_radius
{
    border-radius: 10%;
}
/* navigation css */
.navbar {
    background-color: #db6f02;
    margin: 0;
    padding: 10px;
    width: 100%;
    line-height: 1;
    height: 90px;
    overflow: hidden;
}

.navbar li, .navbar a {
    display: inline-block;
}

.navbar li {
    list-style-type: none;
}

.navbar > li {
    margin-left: .25em;
}

.navbar > li:first-child {
    margin-left: 0;
}

.navbar a {
    padding: .25em;
    text-decoration: none;
    height: 1em;
    font-weight: bold;
    color: #fff;
}

.js .navbar {
    height: 1.5em;
    overflow: hidden;
}
.bg-mrinda
{
    background-color: #ff880e;
}

.E-images
{
    width: 100%;
    height: 100%;
}
